

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#map
{
	margin-top:10px;
	height:300px;
	width: 100%;	
	background-color:green;
	
}















