{% load static %}<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}">

        <link rel="stylesheet" href="{% static 'weatherapp/css/bootstrap.min.css' %}">
        <style>
            body {
                padding-top: 10px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="{% static 'weatherapp/css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'weatherapp/css/main.css' %}">

        <script src="{% static 'weatherapp/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
        
    	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        
        
    </head>
    <body>
        <script>window.jQuery || document.write('<script src="{% static 'weatherapp/js/vendor/jquery-1.11.2.min.js' %}"><\/script>')</script>
        <script src="{% static 'weatherapp/js/vendor/bootstrap.min.js' %}"></script>
        <script src="{% static 'weatherapp/js/main.js' %}"></script>
    
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        
          <a class="navbar-brand" href="/">Your Weather</a>
        </div>
        
        <div id="navbar" class="navbar-collapse collapse">
        	{% block nav_content %}
        	
        	{% endblock %}
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    
	<div class="jumbotron">
	  <div class="container">
	  {% block jumbotron_content %}
	  {% endblock %}
	  </div>
	</div>
  

    <div class="container">
	    {% block content %}
	  	{% endblock %}
      <hr>
      <footer class="text-center">

        <p> &copy; Your Weather, 2018 All Rights Reserved</p>
      </footer>
      
    </div> <!-- /container -->        

    </body>
</html>

