
{# This template is used when there are too many cities to choose from, typically 	#}
{#  as a result of searching by city name											#}

{% extends "weatherapp/_basetemplate.html" %}

{% block nav_content %}
	{% include "weatherapp/sub_index_nav.html" %}
{% endblock %}

{% block jumbotron_content %}
	<div id="row">
		<div class="col-md-4">
			{% if map_api_key != None %}
				<div id="map">TheMap</div>
				
				<script>
					function initMap() 
					{
						var lat = {{cities_list.0.lat}};
						var lon = {{cities_list.0.lon}};
					     var uluru =  {lat: lat, lng: lon  };
					     var map = new google.maps.Map(document.getElementById('map'), {
					       zoom: 4,
					       center: uluru
					     });
					     var marker = new google.maps.Marker({
					       position: uluru,
					       map: map
					     });
					}
				</script>
				
				<script async defer
	 				src="https://maps.googleapis.com/maps/api/js?key={{map_api_key}}&callback=initMap">
				</script>
			
			{% endif %}				
		
		</div>
		
		{# Display our list of city options #}
		<div class="col-md-5"> 
			
			<h3>Several cities exist matching that search value.</h3>
			<h4>Select a city name to view the weather OR click the Lat: Lon: values to visualize location on the map</h4>
			{% for city_data in cities_list %}
				<div>
					<a href="/?cityid={{city_data.id}}"> {{city_data.name}}, {{city_data.country}}</a>
					||
					<a href="javascript:updateMap({{city_data.lat}},{{city_data.lon}});">Lat: {{city_data.lat}} Lon: {{city_data.lon}}</a>
					
				</div>
		
			{% endfor %}
			
		</div>
		<div class="col-md-3">
			{% if user.is_authenticated == False %}
				<h3>
				Sign up and login to maintain a list of recent searches!
				</h3> 
			{% else %}
			<p> Logged in as: {{ user.username }}</p>
			{% endif %}
		</div>
	</div>
	
	
	
{% endblock %}


{% block content %}
	{% if user.is_authenticated == True %}
		{% include "weatherapp/sub_index_saved_cities_list.html"  %}
	{% endif %}
{% endblock %}
