
{% extends "weatherapp/_basetemplate.html" %}

{% block nav_content %}
	{% include "weatherapp/sub_index_nav.html" %}
{% endblock %}

{% block jumbotron_content %}
	<div id="row">
		<div class="col-md-2"></div>
		<!-- Display Currently requested weather! -->
		<div class="col-md-7"> 
			{% if err != None %}
			<h2>UH OH! Search error:</h2>
				<p><strong>{{ err|safe }}</strong></p>
			{% endif %}
		
			
			{% if weather != None %}
				<h3>Weather for</h3>
				<h1>{{ weather.city }},{{ weather.country }}</h1>
				
				<p>{{ weather.description.capitalize }}</p>
				<div class="clearfix">
					<img class="pull-left" src="http://openweathermap.org/img/w/{{ weather.icon }}.png" title="{{ weather.description.capitalize }}" alt="{{ weather.description.capitalize }}" width="96" height="96"/>
					<h1 >{{ weather.temperature }} &deg{{units.temp}}</h1>
				</div> 
				
				<div>
					<p>Wind: {{ weather.wind_dir }} {{ weather.wind_speed }} {{units.speed}} </p>
				
				</div>
				
			{% else  %}
			<div class="row">
				<div class="col-md-6">
					<h2>Find your weather!</h2>
					<form role="form" method="post">
					      {% csrf_token  %}
					
					
						<div class="form-group">
	         				<input type="text" placeholder="Enter City or Zip" class="form-control" id="citysearch" name="citysearch" id="searchform"/>
	       				</div>
	       					<button type="submit" class="btn btn-success">Search</button>
					</form>
				</div>
				<div class="col-md-6"></div>
			</div>
			{% endif %}
			
		</div>
		<div class="col-md-3">
			{% if user.is_authenticated == False %}
				<h3>
				Sign up and login to maintain a list of recent searches!
				</h3> 
			{% else %}
			<p> Logged in as: {{ user.username }}</p>
			{% endif %}
		</div>
	</div>
{% endblock %}


{% block content %}
	{% if user.is_authenticated == True %}
		{% include "weatherapp/sub_index_saved_cities_list.html"  %}
	{% endif %}
{% endblock %}
