{% extends "weatherapp/_basetemplate.html" %}

{% block jumbotron_content %}

<div class="row">
    <div class="col-md-6">
	    <h2>Login to your account</h2>
    	<p>Logging in saves your recent searches!</br>
    	Need to create an account? <a href="/signup">Sign up!</a>
    	</p>
    </div>
    
    <div class="col-md-6">  </div>
</div>

 <div class="row">
    <div class="col-md-6">
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
         <label for="id_username">Username:</label></br>
         <input type="text" name="username" maxlength="150" autofocus required id="id_username" name="username" class="form-control"/> 
        </div>
        
        <div class="form-group">
          <label for="id_password">Password:</label></br>
          <input type="password" placeholder="Password" class="form-control" required id="id_password" name="password"/>
        </div>
        <button type="submit" class="btn btn-success">Login</button>
    </form>
    </div>
    <div class="col-md-6">
    			{% if form.errors  %}
		 		<h3>Uh oh!</h3>
				{% for err in form.errors.values %}
					<h4>{{ err }}</h4>
 				{% endfor %}
		 	{% endif %}	
    
    </div>
 </div>

{% endblock %}