
{% extends "weatherapp/_basetemplate.html" %}

{% block jumbotron_content %}

    <h1>Sign Up!</h1>
    <p>
    	Signing up saves your most recent searches!<br/>
    	Already have an account? <a href="/login">Login!</a>
    </p>
	 
	 
	 <div class="row">
		<div class="col-md-6">

          <form  role="form" method="post">
			{% csrf_token %}
          
            <div class="form-group">
             <label for="id_username">Username:</label></br>
             <input type="text" name="username" maxlength="150" autofocus required id="id_username" name="username" class="form-control"/> 
            </div>
            
            <div class="form-group">
              <label for="id_password1">Password:</label> (Minimum 8 characters)</br>
              <input type="password" placeholder="Password" class="form-control" required id="id_password1" name="password1"/>
            </div>
            
            <div class="form-group">
              <label for="id_password2">Password Confirm:</label> </br>
              <input type="password" placeholder="Password" class="form-control" required id="id_password2" name="password2"/>
            </div>
            
            <button type="submit" class="btn btn-primary btn-lg">Sign Up!</button>
          </form>
        </div>

		<div class="col-md-6">
		
			{% if form.errors  %}
		 		<h3>Uh oh!</h3>
				{% for err in form.errors.values %}
					<h4>{{ err }}</h4>
 				{% endfor %}
		 	{% endif %}	
		</div>


	</div>

{% endblock %}