
{# Basic nav element included in our various INDEX templates #}

<div class="navbar-right">
      <form class="navbar-form" role="form" method="post" action="/" id="searchform">
      {% csrf_token  %}


      <input type="hidden" id="user_lat_lon" name="user_lat_lon"/>
       <div class="form-group">
         <input type="text" placeholder="Enter City or Zip" class="form-control" id="citysearch" name="citysearch"/>
       </div>
       <button type="submit" class="btn btn-primary">Search</button>
    
       <a class="btn btn-default glyphicon glyphicon-map-marker" href="#" role="button" id="use_user_loc" title="Search by your location!" 
       		style="display:none;font-size:1.15em;"></a>&nbsp;&nbsp;
    	
      {% if user.is_authenticated %}
          <a class="btn btn-default" href="/logout" role="button">Logout</a>
       {% else %}
           <a class="btn btn-default" href="/login" role="button">Login</a>
           <a class="btn btn-default" href="/signup" role="button">Sign Up!</a>
       {% endif %}

        {% if units.units == "metric" %}
            <a class="btn  btn-success" href="/units?u=m" role="button" id="units_met" title="Use Metric Units">C</a>       
            <a class="btn  btn-default" href="/units?u=i" role="button" id="units_imp" title="Use Imperial Units">F</a>
        {% else %}
            <a class="btn  btn-default" href="/units?u=m" role="button" id="units_met" title="Use Metric Units">C</a>       
            <a class="btn  btn-success" href="/units?u=i" role="button" id="units_imp" title="Use Imperial Units">F</a>
        
        {% endif %}    
    
    </form>
</div>