{# Display a selection of the user's most recently saved searches 		#}	
{# city_data_list is a list of Weather data items for various cities 	#}
	
{% if city_data_list != None %}
	<div class="row">
		<div class="col-md-12"><h3>Recently Viewed Cities</h3></div>
	</div>
	
	<div class="row" style="background-color: #f0f0f0">
		<div class="col-md-1"><h4>Temp</h4></div>
		<div class="col-md-5"><h4>City Name</h4></div>
		<div class="col-md-3"><h4>Conditions</h4></div>
		<div class="col-md-3"><h4>Wind</h4></div>
	</div>
	
	{% for city_data in city_data_list %}
	<div class="row">
		<div class="col-md-1">
		<span>{{ city_data.temperature }} &deg{{units.temp}}</span>
		</div>
		<div class="col-md-5">
			<span><a href="?cityid={{city_data.city_id}}"/>{{ city_data.city }}, {{ city_data.country }}</a></span>
		</div>
		<div class="col-md-3">
			<img class="pull-left" src="http://openweathermap.org/img/w/{{ city_data.icon }}.png" title="{{ city_data.description.capitalize }}" alt="{{ city_data.description.capitalize }}" width="32" height="32"/>
			<span>{{ city_data.description.capitalize }}</span>
		</div>
		
		<div class="col-md-3">
			{{ city_data.wind_dir }}
			{{ city_data.wind_speed }} {{units.speed}}
		</div>
	</div>
	{% endfor %}
{% endif %}
	
